/*
HEADER
*/
.header {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    height: 70px;
    line-height: 70px;
     background-color: rgba(0, 0, 0, 0);
     position: fixed;
    top: 0;
    z-index: 999;
}

.header .header-logo {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    float: left;
    margin-left: 30px;
}

.header .header-menu {
    float: right;
    margin-right: 30px;
}

.header .header-menu a {
    margin-right: 15px;
    color: #ffffff;
}

.header .header-menu a:hover {
    color: #3498db;
}

/*
BANNER
*/
.banner {
    margin-top: -20px;
}

.banner .banner-image {
    position: relative;
    margin-top: -26px;
    margin-bottom: -26px;
}

.banner .banner-content {
  position: absolute;
  width: 100%;
  text-align: center;
    top: 30%;
}

.banner .banner-content h1,
.banner .banner-content h2 {
    color: #000000;

}

/*
CONTACT
*/
.about .about-singele-element i {
    font-size: 8px;
    text-align: center;

}
.about .about-singele-element {
    text-align: center;
    font-size: 5px;

}

.about .about-singele-element p {
    text-align: center;
    margin-top: 8px;

}
/*
contact
*/
.contact {
    margin-left: 730px;
    margin-top: 150px;
    font-size: 40px;
}

.hh {
    margin-top: -64px;
    font-size: 45px;
    margin-left: 680px;
}
.discord {
    margin-top: -60px;
    font-size: 43px;
    margin-left: 780px;
}
.kol {
    background-color: #2f3542;
    margin-top: -104px;
}
.text-contact {
    margin-top: -120px;
    margin-left: 710px;
    font-size: 20px;
    background-color: #2f3542;
    margin-left: 0px;
    margin-top: -95px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #1e90ff;
}

.thanks {
    color: red;
}